{{!< ./default_layout}}

<script type="text/javascript">
var uploadURL = '{{uploadCreds.s3URL}}',
	uploadKeyRoot = '{{uploadKeyRoot}}'
</script>
<script type="text/javascript" src="/js/dropzone.js"></script>
<script type="text/javascript" src="/js/upload-image.js"></script>

<link type="text/css" rel="stylesheet" href="/css/view-edit-module.css"/>
<link type="text/css" rel="stylesheet" href="/css/dropzone.css"/>


<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<div id="imagepreviewDiv"><img id="imagePreview" src="http://placehold.it/512x512&text=No+image+for+this+case."/></div>

			<div class="well">
				<div id="image-form">
					<div class="form-group">
						<label for="imageLabel">Image label:</label>
						<input type="text" id="imageLabel" class="form-control" name="imageLabel">
					</div>

					<div class="form-group">
						<label for="imageCategory" class="required">* Image category:</label>
						<select id="imageCategory" class="form-control" name="imageCategory">
							<option value=''>Select One</option>
							<option value='Thoracic'>Thoracic</option>
							<option value='Abdominal'>Abdominal</option>
							<option value='Interventional'>Interventional</option>
							<option value='Breast'>Breast</option>
							<option value='Musculoskeletal'>Musculoskeletal</option>
							<option value='Neuroradiology'>Neuroradiology</option>
							<option value='Nuclear Medicine'>Nuclear Medicine</option>
							<option value='Pediatric'>Pediatric</option>
							<option value='Trauma'>Trauma</option>
							<option value='Other'>Other</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="difficulty" class="required">* Finding difficulty:</label>
						<select id="difficulty" class="form-control" name="difficulty">
							<option value='n/a'>N/A</option>
							<option value='easy'>Easy</option>
							<option value='medium'>Medium</option>
							<option value='hard'>Hard</option>
						</select>
					</div>

					<div class="form-group">
						<label for="imageModality" class="required">* Image modality:</label>
						<select id="imageModality" class="form-control" name="imageModality">
							<option value="" class="">Select One</option>
							<option value="CT">CT</option>
							<option value="MRI">MRI</option>
							<option value="Ultrasound">Ultrasound</option>
							<option value="Fluoroscopy">Fluoroscopy</option>
							<option value="X-ray plain">X-ray plain</option>
							<option value="Mammography">Mammography</option>
							<option value="PET">PET</option>
							<option value="SPECT">SPECT</option>
							<option value="Other">Other</option>
						</select>
					</div>
					
					<div class="checkbox">
						<label>
							<input type="checkbox" name="normal" id="normal"> Normal study
						</label>
					</div>
					
					<div class="form-group">
						<label for="Diagnosis" class="required">* Diagnosis:</label>
						<input id="diagnosis" type="text" class="form-control" name="Diagnosis">
					</div>
					
					<div class="checkbox">
						<label>
							<input type="checkbox" name="pathProven" id="pathProven"> Path proven diagnosis
						</label>
					</div>

					<div class="form-group">
						<label for="imageModality">Upload image:</label>
						<form class="dropzone">
							<input type="hidden" id="uploadKey" name="key" value="">
							<input type="hidden" name="AWSAccessKeyId" value="{{ uploadCreds.s3Key }}"> 
							<input type="hidden" name="acl" value="public-read"> 
							<input type="hidden" name="success_action_status" value="201">
							<input type="hidden" name="policy" value="{{ uploadCreds.s3Policy64 }}">
							<input type="hidden" name="signature" value="{{ uploadCreds.s3Signature }}">
							<input type="hidden" name="Content-Type" value="image/jpeg">
						</form>

						<button type="button" class="btn btn-primary" id="uploadImages">Upload</button>
						<button type="button" class="btn btn-danger" id="clearQueue">Clear</button>
					</div>

					<div class="form-group">
						<label for="foreignId" class="required">* Foreign Id:</label>
						<input id="foreignId" type="text" class="form-control" name="foreignId">
					</div>
					
				</div>

			</div>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-primary" id="saveImage">Save Image</button>
		</div>
	</div>
</div>
