<!DOCTYPE html> 
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="LogIn.css"/>
		<script type='text/javascript' src='LogIn.js'></script>

		<title>Login</title>
	</head>


	<body>

		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewaveend"></div>

		<div id="loginoptioncontainer">

		{{{body}}}
			
		</div>

	</body>


</html>