{{!< ./default_layout}}

<script type="text/javascript">
var quiz = {{{quiz}}}

console.log(quiz)
</script>
<script type="text/javascript" src="/js/view-edit-module.js"></script>
<link type="text/css" rel="stylesheet" href="/css/view-edit-module.css"/>

<!-- <script type="text/javascript">console.log(JSON.parse('{{quiz}}'))</script> -->

<div id="confirmationDiv">Saved</div>

<div id="failureDiv">Failed to Save</div>

<div id="moduleName"> {{quiz.title}} </div>

<div id="questionRowcontainer">
	<table>
		<tr>
			<td id="submitButton">Save</td>
		</tr>
		<tr>
			<td id="editQuestionbutton">Edit</td>
		</tr>
		<tr>
			<td id="addQuestionbutton">Add</td>
		</tr>
	</table>

	<table id="questionRow">
		
		<!-- <tr>
			<td id="questionTab" class="clicked">1</td>
		</tr>
		<tr>
			<td id="questionTab">2</td>
		</tr>
		<tr>
			<td id="questionTab">3</td>
		</tr>
		<tr>
			<td id="questionTab">4</td>
		</tr>
		<tr>
			<td id="questionTab">5</td>
		</tr>
		<tr>
			<td id="questionTab">6</td>
		</tr>
		<tr>
			<td id="questionTab">7</td>
		</tr>
		<tr>
			<td id="questionTab">8</td>
		</tr> -->
	</table>
</div>


<div id="questionNav">Question <p id="currentNumber">1</p> of <p id="totalNumber">_</p></div>

	<div id="formdiv">
		<form id="form1">
			<ul id="textfields">
				<li id="image">
					Image: <input id="caseImage" type="file" name="caseImage" style="width: 300px; height: 22px" accept="image/x-png, image/gif, image/jpeg">
				</li>
				<li>
					Clinical Information: <textarea id="clinicalInfo" name="clinicalInfo" style="width:400px; height:50px;"></textarea>
				</li>
				<li>
					Question: <textarea id="question" type="text" name="question" style="width:400px; height:50px;"></textarea>
				</li>


				<li>
					Answer choices and explanations:
				</li>
			</ul>

			<ul id="choices">
				<!--<li class="choice">
					A: <textarea id="choiceA" type="text" name="choiceA" style="width:400px; height:16px;"></textarea>
				</li>
				<li>
					Explanation: <textarea id="explanationA" type="text" name="explanationA" style="width:600px; height:40px;"></textarea>
				</li>-->
			</ul>

			<ul>
				<button type="button" id="addChoiceButton">Add</button>
			</ul>

			<ul>
				<li>
					Diagnosis:
						<input id="diagnosis" type="text" name="Diagnosis" style="width:400px; height:16px;">
				</li>
				<li>
					Additional Keywords (including classic signs, etc.):
						<input type="text" name="keyword" style="width:150px; height:16px;">
						<input type="text" name="keyword" style="width:150px; height:16px;">
						<input type="text" name="keyword" style="width:150px; height:16px;">
						<input type="text" name="keyword" style="width:150px; height:16px;">
						<input type="text" name="keyword" style="width:150px; height:16px;">
						<input type="text" name="keyword" style="width:150px; height:16px;">
				</li>
			</ul>
		</form>


		<form>
			<ul id="moretextfields">
				<li>
					Difficulty Level:
				</li>
				<li>
					<select id="difficulty">
						<option value="1">Easy</option>
						<option value="2">Intermediate</option>
						<option value="3">Difficult</option>
					</select>
				</li>

				<li>
					Subspecialty:
				</li>
				<li>
					<select id="category">
						<option value="">Select One</option>
						<option value="breast">Breast</option>
						<option value="cardiac">Cardiac</option>
						<option value="CT">CT</option>
						<option value="GI">GI</option>
						<option value="IR">IR</option>
						<option value="MR">MR</option>
						<option value="MSK">MSK</option>
						<option value="neuro">Neuro</option>
						<option value="nuclear">Nuclear Medicine</option>
						<option value="pediatric">Pediatric</option>
						<option value="physics">Physics</option>
						<option value="radiography-fluoroscopy">Radiography/Fluoroscopy</option>
						<option value="reproductive-endocrine">Reproductive/Endocrine</option>
						<option value="safety">Safety</option>
						<option value="thoracic">Thoracic</option>
						<option value="ultrasound">Ultrasound</option>
						<option value="urinary">Urinary</option>
						<option value="vascular">Vascular</option>
					</select>
					<!--These are based on the 18 categories in the ABR Core exam.-->
				</li>
		</ul>
	</form>
</div>


<div id="imagepreviewDiv"><img id="imagePreview" src="http://upload.wikimedia.org/wikipedia/commons/2/22/Scaphoid_waist_fracture.gif"/></div>