{{!< ./splash_layout}}

<div class="jumbotron">
	<h1> Radiology Quizzes </h1>
	<br>
	
	<h4>For residents and medical students:</h4>
	<ul>
		<li>Learn radiology with pre-call and subject specific quizzes</li>
		<li>Track your performance and improvement</li>
		<li>Compare your answers to expert opinion</li>
	</ul>

	<h4>For attendings and educators:</h4>
	<ul>
		<li>Create and administer radiology quizzes</li>
		<li>Track results and quantify performance</li>
		<li>Tailor lectures and curricula to areas of need</li>
	</ul>
	
	<br>

	<p><a class="btn btn-primary btn-lg" role="button" href="/login">Log in</a></p>
</div>