{{!< ./default_layout}}
<h1> {{quiz.title}} </h1>

<a class="btn btn-lg btn-default" href="/quiz/go/{{quiz._id}}/timed"><span class="glyphicon glyphicon-time"></span> Start Timed Quiz</a>

<a class="btn btn-lg btn-default" href="/quiz/go/{{quiz._id}}"><span class="glyphicon glyphicon-ok"></span> Start Untimed Quiz</a>

<br><br>

<h4>History</h4>

<table class="table">
	<tr>
		<th>Date completed/updated</th>
		<!-- <th>Score</th> -->
		<th>Detail</th>
	</tr>
	{{#each quizHistory}}
		<tr>
			<td>{{this.updatedAt}}</td>
			{{#if this.completed}}
				<!-- <td>
					{{this.percentCorrect}}%
				</td> -->
				<td>
					<a href="/quiz/result/{{this._id}}">Detailed report</a>
				</td>
			{{else}}
				<td>
					--
				</td>
				<td>
					<a href="/quiz/go/{{../../quiz._id}}">Resume</a>
				</td>
			{{/if}}
		</tr>
	{{/each}}
</table>

<a href="/quizzes">Back to all quizzes</a>