{{!< ./default_layout}}

<h1> Report for {{quiz.title}} </h1>

<div class="row">
	<div class="col-xs-8">
		<h4><span class="text-muted">Total users completing quiz:</span> {{numUsersTaken}}</h4>
		<table class="table">
			<tr>
				<th>User</th>
				{{#times maxAttempts}}
					<th>Attempt {{math this "+" 1}}</th>
				{{/times}}
				<th>Average</th>
			</tr>
			{{#each usersTaken}}
				<tr>
					<td>User {{math @index "+" 1}}</td>
					{{#each this.scores}}
						<td>{{this}}%</td>
					{{/each}}
					{{#times (math ../maxAttempts "-" (length this.scores))}}
						<td></td>
					{{/times}}
					<td>{{this.average}}%</td>
				</tr>
			{{/each}}
		</table>
	</div>
	<div class="col-xs-4 text-center">
		<h3 class="text-muted">Overall Average</h3>
		<h2>{{averageScore}}%</h2>
	</div>
</div>