{{!< ./default_layout}}
<h1> {{quiz.title}} </h1>

{{#unless quiz.restricted}}
	<a class="btn btn-lg btn-default" href="/quiz/go/{{quiz._id}}/timed"><span class="glyphicon glyphicon-time"></span> Start Timed Quiz</a>

	<a class="btn btn-lg btn-default" href="/quiz/go/{{quiz._id}}"><span class="glyphicon glyphicon-ok"></span> Start Untimed Quiz</a>
{{/unless}}

Access code:
<form class="form-inline" method="post" action="/quiz/go/{{quiz._id}}/accessCode">
  <div class="form-group">
    <label class="sr-only" for="access-code">Access Code</label>
    <input type="text" class="form-control" id="access-code" name="accessCode" placeholder="Access Code">
  </div>
  <button type="submit" class="btn btn-default">Start quiz</button>
</form>

<br><br>

<h4>History</h4>

<table class="table">
	<tr>
		<th>Date completed/updated</th>
		<!-- <th>Score</th> -->
		<th>Detail</th>
	</tr>
	{{#each quizHistory}}
		<tr>
			<td>{{this.updatedAt}}</td>
			{{#if this.completed}}
				<!-- <td>
					{{this.percentCorrect}}%
				</td> -->
				<td>
					<a href="/quiz/result/{{this._id}}">Detailed report</a>
				</td>
			{{else}}
				<td>
					--
				</td>
				<td>
					<a href="/quiz/go/{{../../quiz._id}}">Resume</a>
				</td>
			{{/if}}
		</tr>
	{{/each}}
</table>

<a href="/quizzes">Back to all quizzes</a>