{{!< ./default_layout}}

<script type="text/javascript">
var quiz = {{{quiz.JSON}}},
	quizResult = {{{quizResult.JSON}}}

console.log('quiz: ',quiz)
console.log('quizResult: ',quizResult)
</script>
<script type="text/javascript" src="/js/lib/desandro-imagesloaded/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/js/lib/angular-1.2.16/angular.js"></script>
<script type="text/javascript" src="/js/lib/angular-1.2.16/angular-ui-router.js"></script>
<script type="text/javascript" src="/js/quiz-app/quiz-app.js"></script>
<script type="text/javascript" src="/js/quiz-app/quiz-controller.js"></script>
<script type="text/javascript" src="/js/quiz-app/select-point.js"></script>

<link type="text/css" rel="stylesheet" href="/css/view-quiz.css"/>

<div ng-app="quizApp">
<div ng-controller="questionCtrl" class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
	
			<h3>{{quiz.title}}</h3>

			<div id="question" ng-include src="'/html/quiz.question.html'"></div>

			<button type="button" class="btn btn-primary" ng-click="submitAndFinish()">Submit and Finish</button>
		</div>
	</div>
</div>
</div>