{{!< ./default_layout}}
<h1> Test all the things! </h1>

Logged in: {{user.email}}

<a href="/login">Log in</a>

<script type="text/javascript">
'use strict';

/*

// test loading a case from casefil.es

$.get('http://localhost:8080/api/study/load/52960b463e31390f00000025', function(res){
	if(res._id === '52960b463e31390f00000025'){ console.log('OK: study successfully loaded')}
	else { console.log('FAIL', res)}
})

// test getting s3 upload credentials

$.get('http://localhost:8080/api/upload/getCredentials?apikey=52f7caabff074a371800000b', function(res){
	if(res.s3Bucket === 'elasticbeanstalk-us-east-1-843279806438'){ console.log('OK: s3 creds returned')}
	else { console.log('FAIL', res)}
})

$.post('/makeAdmin', {userId: '52f6b898e426a9080ce53adf'})
	.done(function(res){
		if(res === 'User already administrator' || 'User set as administrator'){ console.log('OK: User set as administrator') }
		else { console.log('FAIL: ', res) }
	})
	.fail(function(err){
		console.log('FAIL', err)
	})

*/

$.post('/saveQuiz', {userId: '52f6b898e426a9080ce53adf'})
	.done(function(res){
		console.log(res)
	})
	.fail(function(err){
		console.log('FAIL', err)
	})

</script>