<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="Alaa Beydoun" content="">
        <link rel="shortcut icon" href="">
        <title>Untimed PL exam</title>

        <!-- Bootstrap core CSS -->
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <style>body{padding-top:10px;background-color:silver;}.starter-template{padding:40px 15px;text-align:center;}</style>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>        
        <div class="container-fluid">
            <!--Title row/container-->
            <div class="row">
                <div class="col-xs-12 text-center" style="">
                    <h1>Untimed</h1>
                </div>
            </div>
            <!--Time and image progress row/container-->
            <div class ="row">
                <div class="col-xs-12 text-right" style="">
                    <span style="font-size:22px" class="timer">{{elapsedTime}}</span>
                </div>
            </div>
            <!--Table and progress row/container-->
			<div class ="row">
                <div class="col-xs-12 - text-center" style="martin-top:10px">
                    <!--Image table container-->
                    <div class="col-xs-3 - text-center">
                        <div id="Selections"> 
						  <div class="button" class="btn btn-primary" ng-repeat="choice in currentQuestion.choices">
							<label>
                                <input type="button" name="choices" value="{{case._id}}" ng-model="quizResult.quizQuestions[currentIndex].userAnswer"> {{case.marked}}
							</label>
						  </div>
					   </div>
                    </div>
                    <!--Image and progress container-->
                    <div class="col-xs-9 - text-center">
                        <!--Image container-->
                        <div class="col-xs-12 - text-center">
                            <!--TODO include sliding bar with on-click command that submits level of confidence from 0-100%-->
                            <img id="placeholder" style="display:none;width:100%;">
							<div id="stackview" class="cine_container case-image" style="width:100%;height:700px;" stack-view select-point="quizResult.quizQuestions[currentIndex].abnormalityLoc" index="currentIndex" img-src="currentQuestion.imageSeries[0].imagePaths[0]">
                                <div class="progressBar">
                                    <div class="loadProgress"></div>
                                    <div class="progressFill">
                                         <span class="progressLabel"></span>
                                    </div>
                                </div>
                                <div class="viewer-controls">
                                    <div class="btn-group">
                                        <div class="markPointControl controlButton pull-left btn btn-inverse" title="Mark a point"><span class="glyphicon glyphicon-screenshot icon-screenshot icon-white"></span></div>
                                        <div class="removeAnnotationsControl controlButton pull-left btn btn-inverse" title="Erase annotations"><span class="glyphicon glyphicon-remove icon-remove icon-white"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--progress row/container-->
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                 <div class="row" style="margin-top:20px;">
                                     <div class="col-xs-12 text-center">
                                         <button type="button" class="btn btn-primary btn-lg btn-block">Mark as <strong>Normal</strong></button>
                                     </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-xs-6 text-center">
                                        <div id="previous" class="nav-button btn btn-primary" ng-click="prevQuestion()">Previous study</div>
                                    </div>
                                    <div class="col-xs-6 text-center" ng-switch on="isLastQuestion()">
                                        <div id="next" class="nav-button btn btn-primary" ng-click="nextQuestion()" ng-switch-default>Next study</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!--Submit and Finish row/container button only works when all images have been marked, gives error if any are not marked. Consider including failsafe submit activated by ctrl+click-->
			<div class="row" style="margin-top:40px;">
				<div class="col-xs-12 text-right" ng-switch on="isLastQuestion()">
					<button type="button" class="btn btn-lg btn-primary" disabled="disabled" ng-click="submitAndFinish()" ng-switch-when="true">Submit and Finish</button>
				</div>
			</div>
		</div>               
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- compiled and minified Bootstrap JavaScript -->
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
