a.selected {
	text-decoration: none;
	color: black;
	cursor: default;
	font-weight: bold;
}

ul.choice-list {
	list-style: none;
}

.nav-button {
    border: 2px solid black;
    border-radius:5px;
    text-align: center;
    padding:5px;
    background-color: #F5FAF8;
}


body {
    background-color: #cccccc
}

#selections {
    display: inline-;
    position: relative;
}

textarea {
    border: 1px solid black;
    position: relative;
    margin-right: 50px;
    margin-left: 600px;
    margin-top: -110px;
}

#case-image {
    margin-top: 20px;
}