<!DOCTYPE html> 
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="LogIn.css"/>
		<script type='text/javascript' src='LogIn.js'></script>

		<title>Login</title>
	</head>


	<body>

		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		<div id="bigwave"></div>
		
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewave"></div>
		<div id="littlewaveend"></div>

		<div id="loginoptioncontainer">

			<div id="gmaillogin">
				<form class="gmaillogin"> Log In with gmail account 
					<input name="gmail" type="email" placeholder="email@gmail.com">
					<input name="gmailpw" type="password" placeholder="password">
					<div id="gmailloginbutton">Log In</div>
				</form>
			</div>
			

			<div id="otherlogin">
				<form class="otherlogin"> Log In with username 
					<input name="username" type="text" placeholder="username">
					<input name="otherpw" type="password" placeholder="password">
					<div id="otherloginbutton">Log In</div>
				</form>
			</div>

			<div id="newaccount">Create New Account</div>

			<div id="forgot">Forgot username or password?</div>

		</div>

	</body>


</html>