
body {
	background-color: #606060;
}

body p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
	color: #FF9900;
}

div {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: green;
    text-align: center;
    color: black;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.7;
}

body p div p {
	color: black;
}

#header {
	height: 35px;
	width: 100%;
	background-color: green;
	position: fixed;
}

li {
	display: inline;
	border: 1px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	background-color: #cc0323
}	

#modemenu {
	height: 20px;
	width: 200px;
	border-radius: 3px;
	background-color: gray;
	text-align: right;
	color: black;
	font-family: Garamond, Arial, Sans-Serif;
	font-size: 14px;
}

#option {
	font-size: 16px;
	color: black;
}

#option:hover {
	font-weight: bold;
}

.modemenu {
	text-align: center;
	font-family: Garamond, Arial, Sans-Serif;
	font-size: 12px;
	color: black;
}


