<!DOCTYPE html>
<html>
<head>

	<title>Tuberculosis on chest radiograph primer</title>

	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<script type='text/javascript' src='script.js'></script>
</head>

	<body>
		

			<div id="header">
				<div id="navbar">
					<ul>
						<li>Home</li>
						<li>Help</li>
						<li>Settings</li>
						<li>Contact</li>
						<li>Feedback</li>
					</ul>
				</div>
			</div>	
            
			<p>This module will help you to better understand the appearances of tuberculosis on chest radiographs.</p>
            
            <div id="modemenu">
            	<p id ="option">Five-second Frenzy</p>
                <p class="modemenu">In this mode each radiograph is displayed for a maximum of five seconds, you will have a chance to select your findings before moving on to the next radiograph</p>
            </div>
            
            <div id="modemenu">
            	<p id ="option">Timed Mode</p>
                <p class="modemenu">In this mode the time it takes to complete each radiograph is monitored, but there is no limit to the length of time spent on any item.</p>
            </div>
           
            <div id="modemenu">
            	<p id ="option">Quiz Mode</p>
                <p class="modemenu">In this mode answers to each radiograph are selected, but feedback is not displayed until all items are completed.</p>
            </div>
            
            <div id="modemenu">
            	<p id ="option">Tutor Mode</p>
                <p class="modemenu">In this mode after you have selected an answer, immediate feedback is provided.</p>    
            </div>

	</body>
</html>