<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
			<p>
				{{currentQuestion.clinicalInfo || ''}}
			</p>

			<p>{{currentQuestion.stem}}</p>
		</div>
		<div class="col-xs-6">

			<div id="selections" ng-class="{columns: currentQuestion.choices.length > 5}">
				<div class="radio answer-choice" ng-repeat="choice in currentQuestion.choices">
					<label>
						<input type="radio" name="choices" value="{{choice._id}}" ng-model="quizResult.quizQuestions[currentIndex].userAnswer"> {{choice.option}}
					</label>
				</div>
			</div>
		</div>
		<div class="col-xs-2 text-center" ng-switch on="isLastQuestion()">
			<div class="row">
				<div id="next" class="nav-button btn" ng-click="nextQuestion()" ng-switch-default> 
					Next study 
				</div>
				<button type="button" class="btn btn-primary" ng-click="submitAndFinish()" ng-switch-when="true">Submit and Finish</button>
				<!-- <a ng-click="prevQuestion()">Previous study</a> -->
			</div>
		</div>
		<div class="col-xs-1">
			<p>
				<!-- <select ng-options="key as (key*1 + 1) + (question.userAnswer ? '' : ' *') for (key, question) in quizResult.quizQuestions | orderBy:'questionNumber'" ng-model="selectedQuestion.index"></select> -->
				<select ng-options="question.questionIndex as question.questionIndex+1 + (question.userAnswer ? '' : ' *') for question in quizResult.quizQuestions | orderBy:'questionIndex'" ng-model="selectedQuestion.index"></select>
			</p>
		</div> 
	</div>

	<div class="row">
		<!-- set padding-right for viewer right side gutter -->
		<div class="col-xs-12" style="padding-right:5px;">
			<div class="row">
				<div class="col-xs-12">
					<span class="instructions">If there is an abnormality, click to place a marker:</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">

					<img id="placeholder" style="display:none;width:100%;">
					
					<div id="stackview" class="cine_container case-image" style="width:100%;height:800px;" stack-view select-point="quizResult.quizQuestions[currentIndex].abnormalityLoc" index="currentIndex" img-src="currentQuestion.imageSeries[0].imagePaths[0]">
						<div class="progressBar">
							<div class="loadProgress">
							</div>
							<div class="progressFill">
								<span class="progressLabel"></span>
							</div>
						</div>
						<div class="viewer-controls">
							<!-- <div class="fullScreen controlButton btn btn-inverse pull-right" title="Fullscreen"><span class="glyphicon glyphicon-fullscreen icon-fullscreen icon-white"></span></div>
							<div class="btn-group pull-right">
								<a class="controlButton btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="glyphicon glyphicon-cog icon-cog icon-white"></span>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<label class="checkbox">
											<input class="scrollByPos" type="checkbox"> Lock scroll to mouse position<br><small>(may skip images)</small>
										</label>
									</li>
								</ul>
							</div> -->
							<div class="btn-group">
								<!-- <div class="playToggle controlButton pull-left btn btn-inverse" title="Cine mode"><span class="glyphicon glyphicon-play icon-play icon-white"></span></div>
								<div class="scrollControl controlButton pull-left btn btn-inverse" title="Scroll"><span class="icon-resize-vertical icon-white"></span></div> -->
								<div class="panControl controlButton pull-left btn btn-inverse" title="Pan"><span class="glyphicon glyphicon-move icon-move icon-white"></span></div>
								<div class="zoomControl controlButton pull-left btn btn-inverse" title="Zoom"><span class="glyphicon glyphicon-zoom-in icon-zoom-in icon-white"></span></div>
								<div class="actualSizeButton controlButton pull-left btn btn-inverse" title="Actual size">1:1</div>
								<div class="fitButton controlButton pull-left btn btn-inverse" title="Fit"><span class="glyphicon glyphicon-resize-full icon-resize-full icon-white"></span></div>
							</div>
							<div class="btn-group">
								<div class="markPointControl controlButton pull-left btn btn-inverse" title="Mark a point"><span class="glyphicon glyphicon-screenshot icon-screenshot icon-white"></span></div>
								<!-- <div class="markArrowControl controlButton pull-left btn btn-inverse" title="Draw an arrow"><span class="glyphicon glyphicon-arrow-right icon-arrow-right icon-white"></span></div> -->
								<div class="removeAnnotationsControl controlButton pull-left btn btn-inverse" title="Erase annotations"><span class="glyphicon glyphicon-remove icon-remove icon-white"></span></div>
							</div>
						</div>
						<div id="canvas_container"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>