

body {
	margin: 0;
	padding: 0;
	background-color: #CCCCFF; 
}

#container {
	margin: 10% 0 0 10%;
}

#addModule, #viewModules, #manageUsers {
	width: 400px;
	height: 40px;
	background-color: #FF6699;
	border: 1px solid #CC33FF;
	text-align: center;
	color: yellow;
	font-size: 25px;
	font-family: Arial, Helvetica;
}

#addModule:hover, #viewModules:hover, #manageUsers:hover {
	border: 2px solid #006699;
	background-color: #FF0099;
}

#addModuledropdown, #currentModules, #manageUsersdropdown {
	display: none;
	width: 400px;
	height: 80px;
	background-color: #FF6699;
	border: 1px solid #CC33FF;
	text-align: center;
	color: white;
	font-size: 16px;
	font-family: Helvetica;
}

#nameModuleinput, #newAdmininput {
	margin-top: 10px;
	height: 18px;
	width: 200px;
}

#nameModulesubmit, #newAdminsubmit {
	display: inline-block;
	margin-top: 10px;
	background-color: orange;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	border: 1px solid black;
	padding: 4px;
	border-radius: 8px;
}

#nameModulesubmit:hover, #newAdminsubmit:hover {
	background-color: white;
	color: orange;
	border: 2px solid black;
}

#currentModules ul li {
	text-decoration: underline;
}

#currentModules ul li:hover {
	text-decoration: none;
}




