<!DOCTYPE html> 
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="Manage Modules.css"/>
		<script src="jquery-2.1.0.js"></script>
		<script type='text/javascript' src='Manage Modules.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
		</script>

		<title>Manage Modules</title>
	</head>


	<body>

		<div id="container">
			<div id="addModule">Add Module</div>
			<div id="addModuledropdown">
				Name of New Module: <input id="nameModuleinput" type="text" name="moduleNameinput"/><div id="nameModulesubmit">Begin Adding 	Questions</div>
			</div>
			<div id="viewModules">View Modules</div>
			<div id="currentModules">
				<ul></ul>
			</div>
			<div id="manageUsers">Manage Users</div>
			<div id="manageUsersdropdown">
				New Admin username: <input id="newAdmininput" type="text" name="newAdmininput"/><div id="newAdminsubmit">Add</div>
			</div>
		</div>	
		
			
	</body>


</html>