<!DOCTYPE html>
<html>
	
	<head>
		
		
		<link type="text/css" rel="stylesheet" href="stylesheet2.css"/>
		<script src="jquery-2.1.0.js"></script>
		<script type='text/javascript' src='script2.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
		</script>
		
		<title></title>
	</head>

	<body>

		<div id="navbar">

			<ul>
				<li><a href="http://www.cnn.com">Home</a></li>
				<li><a href="http://www.cnn.com">Menu</a></li>
				<li><a href="http://www.cnn.com">Feedback</a></li>
				<li><a href="http://www.cnn.com">Contact Us</a></li>
				<li><form>Search <input type="text"></form> 
			</ul>

		</div>


    	
        <div id="sidebar">
        	<p>Review questions</p>
        	<ul>
        		<li><a href="http://www.codeacademy.com">Question 1</a></li>
        		<li><a href="http://www.codeacademy.com">Question 2</a></li>
        		<li><a href="http://www.codeacademy.com">Question 3</a></li>
        		<li><a href="http://www.codeacademy.com">Question 4</a></li>
        		<li><a href="http://www.codeacademy.com">Question 5</a></li>
        		<li><a href="http://www.codeacademy.com">Question 6</a></li>
        	</ul>
        </div>
        
    	
		<div id="middlecontainer">
			<div>
				<div id="sectionname">MSK Pre-call Quiz</div>

			<div id="questionnavpanel">Question 1 of 25
				<a href="http://www.google.com"><div id="questionnavpanelbutton">Previous</div></a>
				<a href="http://www.google.com"><div id="questionnavpanelbutton">Next</div></a>
			</div>


				<div id="heading">Question 1</div>
				<p>13 year old male presents after fall complaining of swelling in the hand.</p>
			</div>
			<div>
				<div id="heading">Select the single best answer from the following choices:</div>
				<ol id="answerset">
					<li><a class="A" href="http://www.google.com"><div>Uncomplicated scaphoid fracture</div></a></li>
					<div class="Aexplanation">Answer A explanation</div>
					<li><a class="B" href="http://www.google.com"><div>Scaphoid fracture with evidence of AVN</div></a></li>
					<li><a class="C" href="http://www.google.com"><div>Congenital abnormality of scaphoid</div></a></li>
					<li><a class="D" href="http://www.google.com"><div>Normal</div></a></li>
					<li><a class="E" href="http://www.google.com"><div>Another answer</div></a></li>
				</ol>
			</div>

			<div>SuBmIt</div>
		</div>


		<div id="rightcontainer">
			<div id="image">
				<img style="width: 100%;", style="height: 100%;" src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Scaphoid_waist_fracture.gif/478px-Scaphoid_waist_fracture.gif"/>
			</div>

			<a id="imageexpandbutton" href=http://wikipedia.com><div>+</div></a>

			<div id="additionalimagepanel">
				<div id="additionalimage">extra image 1</div>
				<div id="additionalimage">extra image 2</div>
				<div id="additionalimage">extra image 3</div>
				<div id="additionalimage">extra image 4</div>
			</div>
		</div>


	</body>

</html>