<!DOCTYPE html> 
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="View-Edit Module.css"/>
		<script src="../jquery-2.1.0.js"></script>
		<script type='text/javascript' src='View-Edit Module.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
		</script>

		<title>View/Edit Module</title>
	</head>


	<body>

		<div id="confirmationDiv">Saved</div>

		<div id="failureDiv">Failed to Save</div>
		
		<div id="moduleName"> Module Name <!--Module Name automatically inserted--> </div>

		<div id="questionRowcontainer">
			<table>
				<tr>
					<td id="submitButton">Submit</td>
				</tr>
				<tr>
					<td id="editQuestionbutton">Edit</td>
				</tr>
				<tr>
					<td id="addQuestionbutton">Add</td>
				</tr>
			</table>

			<table id="questionRow">
				
				<!-- <tr>
					<td id="questionTab" class="clicked">1</td>
				</tr>
				<tr>
					<td id="questionTab">2</td>
				</tr>
				<tr>
					<td id="questionTab">3</td>
				</tr>
				<tr>
					<td id="questionTab">4</td>
				</tr>
				<tr>
					<td id="questionTab">5</td>
				</tr>
				<tr>
					<td id="questionTab">6</td>
				</tr>
				<tr>
					<td id="questionTab">7</td>
				</tr>
				<tr>
					<td id="questionTab">8</td>
				</tr> -->
			</table>
		</div>
		
		
		<div id="questionNav">Question <p id="currentNumber">1</p> of <p id="totalNumber">_</p></div>

			<div id="formdiv">
				<form id="form1">
					<ul id="textfields">
						<li id="image">
							Image: <input id="caseImage" type="file" name="caseImage" style="width: 300px; height: 22px" accept="image/x-png, image/gif, image/jpeg">
						</li>
						<li id="clinicalinfo">
							Clinical Information: <textarea readonly id="clinicalInfo" name="clinicalInfo" style="width:400px; height:50px;"></textarea>
						</li>
						<li id="question">
							Question: <textarea readonly id="question" type="text" name="question" style="width:400px; height:50px;"></textarea>
						</li>


						<li id="answerchoices">
							Answer choices and explanations:
						</li>
						<li id="choice">
							A: <textarea readonly id="choiceA" type="text" name="choiceA" style="width:400px; height:16px;"></textarea>
						</li>
						<li>
							Explanation: <textarea readonly id="explanationA" type="text" name="explanationA" style="width:600px; height:40px;"></textarea>
						</li>
						<li id="choice">
							B: <textarea readonly id="choiceB" type="text" name="choiceB" style="width:400px; height:16px;"></textarea>
						</li>
						<li>
							Explanation: <textarea readonly id="explanationB" type="text" name="explanationB" style="width:600px; height:40px;"></textarea>
						</li>
						<li id="choice">
							C: <textarea readonly id="choiceC" type="text" name="choiceC" style="width:400px; height:16px;"></textarea>
						</li>
						<li>
							Explanation: <textarea readonly id="explanationC" type="text" name="explanationC" style="width:600px; height:40px;"></textarea>
						</li>
						<li id="choice">
							D: <textarea readonly id="choiceD" type="text" name="choiceD" style="width:400px; height:16px;"></textarea>
						</li>
						<li>
							Explanation: <textarea readonly id="explanationD" type="text" name="explanationD" style="width:600px; height:40px;"></textarea>
						</li>
						<li id="choice">
							E: <textarea readonly id="choiceE" type="text" name="choiceE" style="width:400px; height:16px;"></textarea>
						</li>
						<li>
							Explanation: <textarea readonly id="explanationE" type="text" name="explanationE" style="width:600px; height:40px;"></textarea>
						</li>



						<li id="diagnosis">
							Diagnosis:
								<input readonly id="diagnosis" type="text" name="Diagnosis" style="width:400px; height:16px;">
						</li>
						<li>
							Additional Keywords (including classic signs, etc.):
								<input readonly type="text" name="keyword" style="width:150px; height:16px;">
								<input readonly type="text" name="keyword" style="width:150px; height:16px;">
								<input readonly type="text" name="keyword" style="width:150px; height:16px;">
								<input readonly type="text" name="keyword" style="width:150px; height:16px;">
								<input readonly type="text" name="keyword" style="width:150px; height:16px;">
								<input readonly type="text" name="keyword" style="width:150px; height:16px;">
						</li>
					</ul>
				</form>


				<form>
					<ul id="moretextfields">
						<li id="difficulty">
							Difficulty Level:
						</li>
						<li>
							<input type="checkbox" name="easydifficulty" value="easy">Easy
						</li>
						<li>
							<input type="checkbox" name="intermediatedifficulty" value="intermediate">Intermediate
						</li>
						<li>
							<input type="checkbox" name="highdifficulty" value="difficult">Difficult
						</li>



						<li id="subspecialty">
							Subspecialty:
						</li>
						<li>
							<!--These are based on the 18 categories in the ABR Core exam.-->
							<input type="checkbox" name="breast imaging" value="breast">Breast
						</li>
						<li>
							<input type="checkbox" name="cardiac imaging" value="cardiac">Cardiac
						</li>
						<li>
							<input type="checkbox" name="CT" value="CT">CT
						</li>
						<li>
							<input type="checkbox" name="GI imaging" value="GI">GI
						</li>
						<li>
							<input type="checkbox" name="interventional radiology" value="IR">IR
						</li>
						<li>
							<input type="checkbox" name="MR" value="MR">MR
						</li>
						<li>
							<input type="checkbox" name="musculoskeletal imaging" value="MSK">MSK
						</li>
						<li>
							<input type="checkbox" name="neuroradiology" value="neuro">Neuro
						</li>
						<li>
							<input type="checkbox" name="nuclear radiology" value="nuclear">Nuclear Medicine
						</li>
						<li>
							<input type="checkbox" name="pediatric radiology" value="pediatric">Pediatric
						</li>
						<li>
							<input type="checkbox" name="Physics" value="physics">Physics
						</li>
						<li>
							<input type="checkbox" name="radiography/fluoroscopy" value="radiography/fluoroscopy">Radiography/Fluoroscopy
						</li>
						<li>
							<input type="checkbox" name="reproductive/endocrine imaging" value="reproductive/endocrine">Reproductive/Endocrine
						</li>
						<li>
							<input type="checkbox" name="safety" value="safety">Safety
						</li>
						<li>
							<input type="checkbox" name="thoracic imaging" value="thoracic">Thoracic
						</li>
						<li>
							<input type="checkbox" name="ultrasound" value="ultrasound">Ultrasound
						</li>
						<li>
							<input type="checkbox" name="urinary imaging" value="urinary">Urinary
						</li>
						<li>
							<input type="checkbox" name="vascular imaging" value="vascular">Vascular
						</li>

				</ul>
			</form>
		</div>

		
		<div id="imagepreviewDiv"><img id="imagePreview" src="http://upload.wikimedia.org/wikipedia/commons/2/22/Scaphoid_waist_fracture.gif"/></div>


	</body>


</html>